Websocket - support for custom headers for handshake 

Hi,

please consider adding ability to add custom headers for handshake.
In  [RFC6455 ](https://tools.ietf.org/html/rfc6455#section-4.1) there one interesting point:

> The request MAY include any other header fields, for example,
> cookies [RFC6265] and/or authentication-related header fields
> such as the |Authorization| header field [RFC2616], which are
> processed according to documents that define them.

I've found an example how to add custom header to handshake: https://blog.heckel.xyz/2014/10/30/http-basic-auth-for-websocket-connections-with-undertow/ but this is for Java and unfortunately isn't possible in HTML5.

When searching over the net I found many places question about this option, for example:
https://github.com/sta/websocket-sharp/pull/22
https://stackoverflow.com/questions/4361173/http-headers-in-websockets-client-api/4361358#4361358
https://github.com/aspnet/SignalR/issues/888

For example in Python this is possible https://stackoverflow.com/questions/15381414/sending-custom-headers-in-websocket-handshake. Other languages also support this. Last place missing is the browser.

Please consider adding this into specification. Having this even as a draft would allow us to consider browser vendors to add support for it.

If this is incorrect place for adding request about specification please forgive me and please point me to right place.

We'd need implementer interest in this before moving forward, similar to https://github.com/whatwg/html/issues/2177.

Mozilla - https://support.mozilla.org/en-US/questions/1176810
Chromium - https://bugs.chromium.org/p/chromium/issues/detail?id=768328
EDGE - https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/31600090-websocket-support-for-custom-headers-for-handsha

@domenic I'll add feature request for other browsers soon. Hopefully some of them will show some interest.

Thank you Misiu for filing the feature request and the bugs for each vendor.

Regarding complexity, for the web platform, this would require non-trivial amount of work at both spec and impl side.

To introduce custom header feature, we need to make it issue a CORS preflight. Though this is not an HTTP API, considering the original reason why we introduced the CORS preflight, we need it for WebSocket + custom headers.

On Chromium, we have separate stacks for WebSocket and XHR/fetch() (for which we have CORS logic). Some non-trivial refactoring and gluing is needed.

I am one of the authors and maintainers of Chrome's WebSocket implementation. I oppose this proposal.

Reasons:
- The WebSocket handshake security model hinges on exposing no more capabilities for request forgery than are already possible using an img tag. It is not possible to add arbitrary headers to the request using an img tag.
- Apart from the limited sub-protocol negotiation, the WebSocket handshake is not intended as a means to exchange metadata about the connection. Non-browser implementations may use it this way, but I would not recommend it. It is better to think of it as a low-level operation like a TCP/IP SYN packet.
- It would be possible to add this to the WebSocket protocol by using a CORS preflight. However, the utility provided simply doesn't justify the additional implementation, standardisation and maintenance cost.

@tyoshino @ricea thank You guys for Your reply.
My main idea was to add ability to add Authentication header to WebSockets.

If You look at SignalR repo You will notice that many people are looking for a way to pass authentication via WebSocket - https://github.com/aspnet/SignalR/issues/888#issuecomment-346242065

Right now the only option to do this is to add token as part of query string.
To simplify this only `Authorization` header is required.

@Misiu In the specific case of WebSockets I think passing an authentication token in the URL is okay. The reason is that, unlike HTTP URLs, wss: URLs are never exposed to the user. They can't bookmark them or copy-and-paste them. This minimises the risk of accidental sharing. In addition, their appearance in other web APIs is minimal_[1]_. For example, they won't appear in history. This reduces the risk of leakage via JS APIs.

The best thing from a security perspective would probably be to perform authentication after the WebSocket is connected, but I realise it is undesirable from a resource-usage perspective to permit unauthorised connections to be established in the first place.

Given the portability difficulties with using cookies or http auth, a short-lived authentication token in the URL is probably your best option at the moment.

A specific note with respect to the `Authorization` header is that normally you'd need to be able to handle a 401 response to use it. But in the WebSocket API error responses are never exposed to the page for security reasons. So that wouldn't work very well.

_[1] I actually can't think of any other APIs that expose ws: or wss: URLs at all. Certainly they don't appear in resource timing._

I cannot use WebSocketSharp because it's missing the ability to customize authorization headers.  I am trying to integrate with a WebSocket api that takes in OAuth2 bearer tokens.

@ricea That's not the main reason why you don't put authentication values in URLs. It's because of server logs.  Auth tokens should be treated with the same security concern as username and password combos.  You don't put username and password combinations in urls, so neither should auth tokens. If you have a vulnerability and a user downloads your http logs, they then have access to virtually all of your accounts.

@ricea sadly implementers don't get to make the decision of what is required to use an api.  I am currently trying to use an api that REQUIRES oauth2 bearer tokens in the authorization header for server-to-server communication.  They offer cookies for browser based security, but I do not have that luxury because I have no sessionids for the user.  So all you're doing by saying "we should not do this" is saying "you have to look elsewhere to implement with this api".  Which would simply just drive people away from using this implementation.  You aren't "saving" anyone but not allowing this, just alienating users.

@maleta 
> So my question is, @ricea, do you think that this reported issue is completely irrelevant because of fact that ws/wss urls are never exposed to users?

Security measures need to be considered in terms of what threats they are intended to protect against and to what extent they are effective in mitigating those threats.

In the case of the Cloudflare vulnerability, placing the `sid` parameter in a header rather than in the URL would have provided no protection whatsoever.

Quoting https://bugs.chromium.org/p/project-zero/issues/detail?id=1139:

> ... we observed encryption keys, cookies, passwords, chunks of POST data and even HTTPS requests for other major cloudflare-hosted sites from other users.

This is the trouble with checklist security. If you removed the `sid` parameter from the URL, you could check that item off the list and feel that you'd improved your security. But in practice there's no improvement at all.

@digitalpacman If someone has access to your server logs, they can do much worse things than just steal credentials. There's usually all kinds of personally-identifiable information in there. Access needs to be tightly restricted just as with any other kind of user data.

@ricea there is only personally-identifiable information in there if you aren't doing good practices.  At most there should be an IP address, but you can opt to not record that either.  Not putting SECURITY CREDENTIALS in the url is an extremely popular best practice.  Infact, governing bodies for security will instantly fail you if you are passing them in the URL.

@annevk I think origin policy will probably be implemented in the browser in the same place as CORS, so it would still mean re-wiring the handshake to go down the same code path.

The WebSocket handshake started out as purely a mechanism to negotiate a WebSocket connection. Over time we've added HTTP features like cookies and authentication, but we've paid a high price in implementation complexity.

The "right" way to do WebSocket authentication is to do it at the application layer after the handshake completes. No-one asks how to put an oauth token in a TCP/IP SYN packet. But the reality is that we've ended up in a fuzzy middle-ground that is hard to explain.

@ricea given that we do add browser-supplied cookies and authentication, it's quite a reasonable request that we also enable headers, since much WebSocket server-side infrastructure probably depends on such information being in the handshake.

And at least as far as the specification is concerned the handshake shares many aspects with Fetch, to enable mixed content blocking, HSTS, CSP, etc. So from that perspective this is not that much of a stretch. (I wonder if Chrome's approach is shared by other browsers.)

@ricea 

> The WebSocket handshake security model hinges on exposing no more capabilities for request forgery than are already possible using an img tag. It is not possible to add arbitrary headers to the request using an img tag.

Can you elaborate here. I don't understand why the security model hinges on not allowing headers to be set in the client API? I'm not sure I understand this.

@davidfowl part of the same-origin policy is that we don't send "attacker-controlled" headers to cross-origin URLs. That's why if you want to do that you need to use CORS, which uses a CORS preflight to make an explicit check that the cross-origin URL is okay with the headers about to be transmitted.

The objection here, at least from the Chrome team, is that supporting a CORS preflight for WebSocket is too costly.

@annevk Thanks for that clarity!

So attacker controlled headers are seen as more dangerous than attacker controlled query string. Would it help if we restricted the types of headers that could be sent?

Yes, you can basically reach any arbitrary URL (whatever the query string or path), but you can only control headers to a very limited extent (and methods too, only HEAD/GET/POST).

The request headers we allow "attackers" to control are listed at https://fetch.spec.whatwg.org/#cors-safelisted-request-header, but note that we plan to lock that down some more in https://github.com/whatwg/fetch/pull/736. For the kinds of use cases that people seem to have I don't think allowing these would be sufficient (or it would lead to hacks where you put authorization data in `Accept-Language` or some such).

@annevk The current design forces people to send what would typically go in the the Authorization header in the query string. Is that any less secure than allowing say the authorization header to bet set on the upgrade request? (even cross origin)

The concern is not with the security of the application making the request, it's with the security of the remote server. The remote server will have to robust against arbitrary URLs, but it does not have to be robust against arbitrary headers, since it'll assume (due to the long history of the web and early establishment of the same-origin policy) that those cannot come from browsers.

I see, understand the push back now. So there needs to be a pre-flight request integrated into the flow and that's expensive in chrome because of the current implementation split between websockets and xhr/fetch. Is that a fair summary?

Should we get some of the other browser implementors to chime in? I can probably get somebody from the edge team to chime in here about the difficulty there. I'm not sure how to go about getting the other browser vendors interested enough to look at this issue (safari, firefox, anything else?) 

Maybe @mcmanus for Firefox and @youennf for Safari? Feedback from Edge would be good.

I'm kinda surprised people aren't smuggling this through subprotocol - seems obvious enough.

architecturally speaking, a CORS preflight wouldn't be a big burden for firefox to implement.

otoh, designs that result in a lot of preflights suck so I'm not convinced we want to enable this rather than pushing it into the post websocket-handshake data.


>  rather than pushing it into the post websocket-handshake data.

Then its a per web app custom protocol implementation; open to a slow loris type auth issue from an unknown user; depending on how the application developer implements it; vs a well understood header handling implementation by the webserver?

@davidfowl Actually yes it is inherently less secure to send it via querystring.  This is why the OAuth spec requires the credentials to be passed in headers or body, always.  The reasoning is because log files of webservers and routers often log the URL including the querystring parameters for identifying requests.  Therefore, without monitoring every system in the entire world yourself you rely on them properly stripping credentials from their logs to protect people.  That entire problem disappears when you send sensitive credentials in the headers or body because those are often, if ever, logged.  Mainly because of their size and the understanding that it is not directly secure.  Some headers are logged by webservers, but those would be exclusively called out.  

@digitalpacman I'm fully aware. I'm mostly trying to get the implementors to agree we should try to solve this problem. 

> otoh, designs that result in a lot of preflights suck so I'm not convinced we want to enable this rather than pushing it into the post websocket-handshake data.

The problem is that you've left the realm of http auth here and you now have to invent a mini protocol over the websocket itself. You also need to let the "attacker" successfully establish a connection to your server, and you now have to wait for data to be sent over it (which needs to timeout appropriately) to authenticate. So you end up with completely different authentication methods for websocket and non-websockets clients.

@davidfowl I've given up the fight.  I think we should fork, fix, and ignore this repository for life.  I physically switched from c# to nodejs because of this.  I don't get a choice in how a websocket server I'm integrating with does it's authing protocol.  It could be custom, it could be headers, it could be url, it could be in a postflight check, or preflight check.  A libraries job is not to dictate HOW integrations must occur, unless it's implementing a strict standard like OAuth2.  The Websocket spec specifies header authing is available, so it should be available.

I physically cannot use this library because of the resistance of the owner.  The library I am integrating with requires that a preflight OAuth2 http request occurs to receive a token that is passed within a Bearer authorization header. I get no choice in the matter.

@digitalpacman I'm not sure what you mean by switching from c# to nodejs. The issue here is about the browser. Non-browser clients support setting headers just fine.

I live for the simple things in life. Like when a spec allows for something and the implementation does not comply. all browsers should remove web sockets from their list of supported specs if they are not spec compliant 

Has there been any news on the topic?

Is the problem solved?

@davidfowl Edge is using Chromium, so maybe now this could be implemented?
I fully support what You wrote here: https://github.com/whatwg/html/issues/3062#issuecomment-395487617. The whole idea is to disallow establishing connections for users without auth header and that didn't successfully authenticate.

As I wrote in my initial message, RFC 6455 clearly says that **request MAY include** any other headers, but hey, that's just a standard, we don't have to follow it....or should we 🤔🤔🤔

So a websocket request is actually two requests; an http(s) upgrade request and then the ws(s) request.

CORS aside could the headers be passed for the upgrade part if it matches? e.g.
```
https GET example.com/index.html
-> wss://example.com/websocket
https UPGRADE example.com/websocket (include https example.com headers)
(wss) example.com/websocket
```

I put together a POC using javascript in a Chrome browser to pass in an array of two strings in the Sec-WebSocket-Protocol header; on the server side I have a javax.websocket.server.ServerEndpoint with a custom configurator which overrides javax.websocket.ServerEndpointConfig.Configurator.getNegotiatedSubprotocol() to treat the first string as the protocol and the second string as the authorization token.

If the protocol and token don't match I return "" which results in an HTTP upgrade response minus the Sec-WebSocket-Protocol header indicating the server does not agree to any of the protocols the client provided in its request. The websocket connection fails in that case.

I realize this is a hack and requires custom authorization code in the server, but it occurs during the websocket handshake, not afterwards.

I don't actually plan to make use of this as I'm working with a non-browser client application that is able to set either a cookie or an Authorization: Bearer xxx header to suit my purposes, but I would be interested in your thoughts and opinions.

Any progress on this?

Hey, team.  Any chance of looking at this again?

@krisleland @yeryomenkom I was able to use something like:
```
def header_func(path: str, request_headers: Headers):
    return {'header1': request_headers,get('header1')}

websocket.serve(handler, "0.0.0.0", 5000, extra_headers=header_func)
```
isnt it enough?

@kalidasya what is that?

oops sorry I was subscribed on a similar issue on python websockets :D did not double check repo before comment 

This would be really helpful for us.

@ricea 
So to summarize, and if we look into the W3 doc https://www.w3.org/TR/websockets it explains 

> (..) The headers to send appropriate cookies must be a Cookie header whose value is the cookie-string computed from the user's cookie store and the URL url; for these purposes this is not a "non-HTTP" API.

So here, it conceals adding Cookies, and treating this similarly to HTTP.
Then later, doc explains stopping all HTTP behaviors of the response for security reasons: 

> When the user agent validates the server's response during the "establish a WebSocket connection" algorithm, if the status code received from the server is not 101 (e.g. it is a redirect), the user agent must fail the WebSocket connection.

Which is against the RFC, but makes sense in term of security reasons.
Note also HTTP Response 101 are also updating Cookies by accepting Set-Cookie with the following:

> When the WebSocket connection is established, the user agent must queue a task to run these steps:
> (..)
> 4. Act as if the user agent had received a set-cookie-string consisting of the cookies set during the server's opening handshake, for the URL url given to the WebSocket() constructor. [COOKIES] [RFC3629] [WSP]


Basically, Cookies are good but not Authorization header. Most modern applications are moving to a Token Based Authorization (i.e. OAuth2.0), if the WebSocket API could accept the Authorization header, it will allow that to coexist.

In addition, we're not talking only about WebServer hosting WebSocket applications, but also a way for Reverse Proxy applications to add authentication check before being forwarded to the servers (unauthenticated servers trust incoming requests because behind Reverse Proxy). 

Also, it seems nobody care about handling 401 and such responses because anyway the browser will treat it as a failure of connection. So no additional code maintenance is required.


> @ricea
> So to summarize, and if we look into the W3 doc https://www.w3.org/TR/websockets it explains

That doc is obsolete. The current controlling standards are https://html.spec.whatwg.org/multipage/web-sockets.html and https://fetch.spec.whatwg.org/#websocket-protocol.

> Basically, Cookies are good but not Authorization header. Most modern applications are moving to a Token Based Authorization (i.e. OAuth2.0), if **the WebSocket API could accept the Authorization header, it will allow that to coexist**.

In the living standard, 401 responses are correctly handled by sending stored credentials.

> In addition, we're not talking only about WebServer hosting WebSocket applications, but also a way for Reverse Proxy applications to add authentication check before being forwarded to the servers (unauthenticated servers trust incoming requests because behind Reverse Proxy).

This requires the Reverse Proxy to understand the WebSocket protocol, in which case it can equally well perform an authentication handshake after the upgrade is complete.

> Also, it seems nobody care about handling 401 and such responses because anyway the browser will treat it as a failure of connection. **So no additional code maintenance is required**.

Digest authentication (https://tools.ietf.org/html/rfc7616) and other schemes that use challenges require correct handling of 401 responses. Without visibility of 401 responses, the facility to send Authorization headers would be extremely limited in practice.

I maintain that the correct way to do custom authorization for WebSockets is after the handshake upgrade is complete.

> I maintain that the correct way to do custom authorization for WebSockets is after the handshake upgrade is complete.

You might want to reject the upgrade if not authorised

> I maintain that the correct way to do custom authorization for WebSockets is after the handshake upgrade is complete.

You might want to reject the upgrade if not authorised (returning 401 Unauthorized, 403 Forbidden, 404 Not Found); rather than accepting the upgrade and then waiting for an indeterminate amount of time for a custom authorisation to be sent to then disconnect.

Right, doing it after the connection also requires a custom non-HTTP based authentication.

> You might want to reject the upgrade if not authorised (returning 401 Unauthorized, 403 Forbidden, 404 Not Found); rather than accepting the upgrade and then waiting for an indeterminate amount of time for a custom authorisation to be sent to then disconnect.

There has to be a timeout, just as HTTP servers have a timeout when waiting for the headers to be sent.

> Right, doing it after the connection also requires a custom non-HTTP based authentication.

Standard HTTP authentication is already supported by WebSockets. It's only non-standard uses of the Authorization header that have this problem.

I would also like to reiterate that the WebSocket protocol is not HTTP. It just uses an HTTP-based handshake.

Below some references of several RFCs of different WebSocket subprotocols which seem to expect to be able to use HTTP Authentication.

Let's look at RFC 8887, A JSON Meta Application Protocol (JMAP) Subprotocol for WebSocket, section 4.1:

> **A JMAP WebSocket connection is authenticated by presenting a user's
> credentials in the HTTP request [RFC7235]** that initiates the
> WebSocket handshake.  See Section 8.2 of [RFC8620] for
> recommendations regarding the selection of HTTP authentication
> schemes.

It references RFC7235 (Hypertext Transfer Protocol (HTTP/1.1): Authentication).

Let's look at RFC 7977, The WebSocket Protocol as a Transport for the Message Session Relay Protocol (MSRP), section 7:

> In order to authorize the WebSocket connection, the MSRP WebSocket
> Server MAY inspect any HTTP headers present (for example, Cookie
> [RFC6265], Host [RFC7230], or Origin [RFC6454]) in the HTTP GET
> request. […] As an alternative method, **the MSRP WebSocket Server could request
> HTTP authentication** by replying to the Client's GET method request
> with a HTTP 401 status code.

Let's look at RFC 7118, The WebSocket Protocol as a Transport for the Session Initiation Protocol (SIP), section 7:

> **A SIP WebSocket Client MUST be ready to be challenged with an HTTP
> 401 status code [RFC2617]** by the SIP WebSocket Server when
> performing the WebSocket handshake. 



> I would also like to reiterate that the WebSocket protocol is not HTTP. It just uses an HTTP-based handshake.

And we are talking about doing auth on the HTTP upgrade request which will match the scheme; even if the upgraded websocket later will not.

> > I would also like to reiterate that the WebSocket protocol is not HTTP. It just uses an HTTP-based handshake.
> 
> And we are talking about doing auth on the HTTP UPGRADE request which will match the scheme; even if the upgraded 
> websocket later will not.

The point was the WebSocket handshake is not supposed to be HTTP but only **look** like HTTP (see RFC 6455, emphasis mine):

> The opening handshake is intended to be compatible with HTTP-based
> server-side software and intermediaries, so that a single port can be
> used by both HTTP clients talking to that server and WebSocket
> clients talking to that server.  To this end, the WebSocket client's
> handshake is an HTTP Upgrade request:
>
> [...]
>
> The WebSocket Protocol is an independent TCP-based protocol.  Its
> only relationship to HTTP is that its handshake is **interpreted** by
> HTTP servers as an Upgrade request.


RFC 6455, https://tools.ietf.org/html/rfc6455#section-4.2.2 (emphasis mine)

> 4.2.2.  Sending the Server's Opening Handshake
>
>   When a client establishes a WebSocket connection to a server, the
   server MUST complete the following steps to accept the connection and
   send the server's opening handshake.
>
>  1.  ...
>
>   2.  **The server can perform additional client authentication, for
       example, by returning a 401 status code with the corresponding
       |WWW-Authenticate| header field as described in [RFC2616].**

RFC 2616, 401 Unauthorized https://tools.ietf.org/html/rfc2616#section-10.4.2 (emphasis mine)

> 10.4.2 401 Unauthorized
>
>   The request requires user authentication. The response MUST include a
   WWW-Authenticate header field (section 14.47) containing a challenge
   applicable to the requested resource. **The client MAY repeat the
   request with a suitable Authorization header field (section 14.8). If
   the request already included Authorization credentials, then the 401
   response indicates that authorization has been refused for those
   credentials.** If the 401 response contains the same challenge as the
   prior response, and the user agent has already attempted
   authentication at least once, then the user SHOULD be presented the
   entity that was given in the response, since that entity might
   include relevant diagnostic information. HTTP access authentication
   is explained in "HTTP Authentication: Basic and Digest Access
   Authentication" [43].

RFC 2616, 14.8 Authorization https://tools.ietf.org/html/rfc2616#section-14.8

> 14.8 Authorization
>
> A user agent that wishes to authenticate itself with a server --
> usually, but not necessarily, after receiving a 401 response--does
> so by including an Authorization request-header field with the
> request.  The Authorization field value consists of credentials
> containing the authentication information of the user agent for
> the realm of the resource being requested.
>
>  `Authorization  = "Authorization" ":" credentials`


It's absolutely HTTP though I don't quite understand that argument 

You know what else makes the handshake look like an HTTP request? **Headers**.

The fact is other clients fully support specifying headers in the HTTP 101, such as [.NET-Core's `System.Net.WebSockets.ClientWebSocketOptions.SetRequestHeader` method](https://docs.microsoft.com/en-us/dotnet/api/system.net.websockets.clientwebsocketoptions.setrequestheader?view=netcore-3.1).

To me, it's an obvious omission in the documentation. Let's change that and get that added to the JS API.

As an independent web developer who just started to use websockets, I can tell you that this is clearly a huge problem, for 2 reasons:

- We were told to not send anything credential related in the url, so the token in url solution is a bit scary and probably a bad idea (cf all the messages from digitalpacman). The "do it yourself" solution with the token in the first ws message is also problematic because we aren't all security specialist and can not spend the ressources required to correctly implement/test non standard procedures.

- When we use both http and ws, it means that some code will have to be duplicated to do the exact same thing. Obviously the token validation on the server side and client side will use the same subroutines, but that's not easy to do when you use standard libraries that implement the whole logic for http. For example if you use the oidc certified library for Angular, you have a very simple way to add a bearer token to any http request, which would be very easy to use if the http handshake could accept it, while the diy solution requires some additional logic. Same thing happen server-side. And the fact that you can't use 401 on the handshake is also a problem that requires duplication of code.

In my humble opinion if you want the websocket to be widely used you need to solve this, otherwise, in most project, the additional cost of implementing a custom auth logic, maintain it, duplicate code in the front and the back, will simply be too big to justify the use of websockets.

I understand that the refactoring required in the browsers might be important, but in the end, it's either refactoring a few projects OR force code duplication on thousand of projects.

I saw some mention of libraries and platforms that are affected by this standard and I just wanted to add for context that the main websocket library in nodejs does support a variety of options including custom headers:
https://github.com/websockets/ws/blob/HEAD/doc/ws.md#new-websocketaddress-protocols-options

I also want to point out that I believe the Kubernetes API does its authentication using the headers on the websocket connection, here is the starting point if you wanted to read into it deeper on the server side:
https://github.com/kubernetes/kubectl/blob/master/pkg/cmd/exec/exec.go#L366

Here is the official nodejs kubernetes client `exec` api, which uses websockets:
https://github.com/kubernetes-client/javascript/blob/master/src/exec.ts#L53

Here it is applying the authorization header to the options object:
https://github.com/kubernetes-client/javascript/blob/master/src/config.ts#L435

Here it creates the WebSocket with those options:
https://github.com/kubernetes-client/javascript/blob/master/src/web-socket-handler.ts#L174

So using nodejs to exec into pods is possible but using other platforms like .NET and Deno seem to not be possible because they're more strict on their adherence to the standard described here. As others expressed in this thread that may result in certain platforms becoming casualties to practicality.

Forgive me but regarding this comment:

> @ricea The "right" way to do WebSocket authentication is to do it at the application layer after the handshake completes. No-one asks how to put an oauth token in a TCP/IP SYN packet. But the reality is that we've ended up in a fuzzy middle-ground that is hard to explain.

I've read through the entire thread here and I feel obtuse but why isn't it preferrable to do the authentication in the application layer _before_ the handshake even begins? Isn't it a pretty leaky metaphor to compare a websocket to TCP/IP when its an extension of http and already completely in the application layer?

The websocket protocol specification states `Additional header fields may also be present, such as cookies.` [source](https://datatracker.ietf.org/doc/html/rfc6455#section-1.2) and I just don't understand why this standard wants to deviate from the specification.

> Isn't it a pretty leaky metaphor to compare a websocket to TCP/IP when its an extension of http and already completely in the application layer?

WebSocket is not an extension of HTTP. I think this is the source of much of the confusion. WebSocket is a separate protocol that uses an HTTP handshake. For example, RFC6455 says "the design does not limit WebSocket to HTTP, and future implementations could use a simpler handshake over a dedicated port without reinventing the entire protocol.".

> The websocket protocol specification states `Additional header fields may also be present, such as cookies.` source and I just don't understand why this standard wants to deviate from the specification.

RFC6455 describes the protocol, not the web platform API. The protocol permits implementations to send additional header fields, and we do indeed send cookie and authentication headers. RFC6455 doesn't place any requirements on WebSocket APIs. In particular, it doesn't require a facility to add arbitrary headers to the handshake. So this is not a deviating from the specification.

> ... it doesn't require a facility to add arbitrary headers to the handshake.

If additional header fields _may be present_ according to the spec but then the corresponding "standard" provides no facility for adding additional header fields, then it certainly feels non-compliant with the specification.

The very next line in the websocket specification it says:

> The format and parsing of headers is as defined in [RFC2616]. 

And [RFC2616](https://datatracker.ietf.org/doc/html/rfc2616) is the specification for `http/1.1` itself. So this really feels like a semantics game we're playing here and I don't know how you can say its not an extension of http. 

My point is when we consider it a simple extension to http its _not confusing at all_. It only becomes confusing when you say it isn't. It has headers, a verb, a path and its being handled by a webserver which is otherwise serving http requests. The fact that it has some magic headers which cause the server to then handle it differently is not that confusing. 

Whats _is_ confusing on the other hand is when my standard auth middleware can't be used to authenticate that initial request like every single other request coming through my server and what is also confusing is why I would want to allow a websocket connection to be established and go through the handshake process without previously being authenticated.

Another thing I find confusing is why this standard appears to consider only the browser when the world of javascript runtimes also encompasses backends, backend to backend websocket connections are a thing of course and this should probably be reflected here.



You're welcome to write your own standard encompassing other JavaScript environments (assuming you can get them on board with being bound by such a standard). However we have our hands full just specifying browsers!

😞 

@domenic @ricea We are happy to specify and implement extensions outside of the standard (we have previously done this for `fetch`), but that is only possible if the upstream spec provides a logical extension point. Currently the `WebSocket` constructor does not take an options bag, so we can not safely add more arguments. If we could change the HTML spec to have the second argument be a dictionary (with backwards compat for a `sequence<DOMString>` and `DOMString` like it is now), we can add the required extensions outside this spec.

I was thinking something along the lines of this:

```webidl
dictionary WebSocketOptions {
  protocols: sequence<DOMString>,
}

interface WebSocket {
  constructor(USVString url, optional (DOMString or sequence<DOMString> or WebSocketOptions) protocols = []);
}
```

I'd be happy to open a spec changes and write WPTs if this seems reasonable.

As I understand it Chrome has the ability to do preflights now for WebSocket, but I take it from @ricea's comment above they still rather not do it for this?

@lucacasonato I think that's a reasonable way to extend it in line with how the standard would extend it were it to change, but I'd rather not make that change without also adding new functionality.

We haven't yet implemented preflights for WebSocket, but we will need them for https://github.com/WICG/private-network-access/issues/14.

I agree with @annevk that @lucacasonato's sketch is reasonable, but we shouldn't add it to the HTML standard until we have a use for it. See also https://github.com/whatwg/html/issues/5437.

Just chiming in with a non-auth related use case. We have an application that has multiple different servers but we want to have one endpoint to the user, so we use a custom header to direct the traffic to the correct server. If we could do this with websockets, that would help us a ton by eliminating the need to do 2 different things depending on whether or not the request is a normal http request or a websocket handshake request

> I would also like to reiterate that the WebSocket protocol is not HTTP. It just uses an HTTP-based handshake.

Adam, it would be swell if that HTTP handshake had HTTP headers - that's why we have standards.  This is clearly incomplete work.

As a small update: Deno in 1.18 now supports setting headers with WebSocketStream

> until we have a use for it

@ricea can you clarify? Do you need a motivating example?

> > until we have a use for it
> 
> @ricea can you clarify? Do you need a motivating example?

By "it" here I meant the WebSocketOptions dictionary, not custom headers.