quote mark inside URL that is attribute value is conflict

Suppose I have an HTML element, it has an attribute, and its value is supposed to be a URL. The URL that I want to write includes pairs of straight double and single quotation marks, such as: http://example.com/file?q=super"wonder'truple'record"tennis

These characters as raw are legal for URLs under RFC 1738 section 2.2 because they're in US-ASCII (http://www.columbia.edu/kermit/ascii.html) as printable graphic characters and so they don't need to be percent-encoded but the double quotation mark is unsafe because it may be a delimiter in some systems (a function normally served elsewhere by angle brackets) while the apostrophe or single quotation mark is safe and may be percent-unencoded. This appears to me to be a bit ambivalent about the double quotation mark, especially if someone reads the RFC only as far as "URLs are written only with the graphic printable characters of the US-ASCII coded character set." and erroneously concludes that both of these marks may be in URLs (and, if they think that, then there's no bar to their using them multiple times within one URL).

RFC 3986 section 2.2, on URIs, thus including URLs, reserves the apostrophe and thus it must be percent-encoded; the same RFC, in appendix C, states that the double quotation mark is a delimiter along with angle brackets and the space. RFC 3986 is thus clearer for compliance than RFC 1738, but some systems may be relying on RFC 1738 since it more specifically applies to URLs.

Apparently, both double quote marks and apostrophes are being used unencoded in some URLs. That this problem has been found in the wild is suggested by an article telling people to stop using these characters in URLs (https://perishablepress.com/stop-using-unsafe-characters-in-urls/).

If a URL like this is kept in use because it works on someone's server and they're too busy to care about my or your complaint, and if it points to interesting content, we may want to cite it on a page of ours. We may need to put the URL into an HTML element attribute value requiring a URL. I might write &lt;a href= . . . &gt;.

HTML 5.2 section 4.8.2 (on the href attribute) thence section 2.5.1 (defining URL) requires that the URL conform to RFC 3986 or 3987 (the latter is on IRIs). The URL Living Standard at https://url.spec.whatwg.org/ is interesting and to be monitored but is not binding for HTML 5.2 compliance.

I routinely write double quotation marks around any HTML element attribute value. Where it's not required, I like it for style for consistency in authoring. It appears under HTML 5.2 that I don't have to surround the URL as a value with any quotation marks. But whether I delimit that way or not won't matter if a parser sees the characters within the URL and, in compliance with HTML 5.2, treats them as HTML delimiters and truncates the URL, giving an unpredictable result.

I don't think I can percent-encode the URL as the attribute's value and expect the user agent (usually a browser) to percent-decode it. Besides, I probably won't notice that a long URL has one of these characters and thus needs percent-encoding.

(URLs and RFCs are as accessed Apr. 22, 2020.)

Is there a solution to this?

One solution I imagine would be to add an attribute on whether to parse the href value as percent-encoded by the HTML author, with the new attribute being true/false. The absence of the attribute would be treated as if it is present with a value of false (i.e., don't percent-decode). If the value is explicitly true, the HTML author would then percent-encode any questionable character in the URL and parsers would percent-decode the URL. Setting the value to true and then failing to percent-encode the URL when percent-encoding is needed would likely result in an error due to percent-decoding producing a URL different from the original URL.

I doubt this is being implemented in the wild now, but I don't know of any solution that is being implemented now, and it appears that the problem is in the wild, so it appears that a solution has to be proposed.

Let's close this for now since it appears to be an issue with a different document. Happy to reopen if you can quote the passages from https://html.spec.whatwg.org/ that are problematic.

That's a little quick for closing. I get online when I can. Please reopen.

Your equivalent to 5.2's section 4.8.2 is 4.6.2. Your equivalent to 5.2's 2.5.1 is your URL standard (https://url.spec.whatwg.org/) but I didn't see anything there that makes a single or double quote mark illegal in URLs, so the problem apparently remains. So, overall, the problem is as described in the opening post except for the foregoing changes.

I emailed W3C that it is referring 5.2 editorial suggestions to WHATWG but that WHATWG is not in that editorial process. Maybe W3C made a mistake with its links or maybe that was a miscoordination between the two organizations. Hopefully, they'll answer.

https://url.spec.whatwg.org/#url-writing makes quote marks illegal in URLs.

On edits to HTML 5.2 vs. those for HTML Living Standard, W3C replied that 5.2 will be deprecated in favor of the Living Standard pursuant to an agreement in 2019 between WHATWG and W3C and that is why edit proposals for 5.2 are referred to WHATWG.

I couldn't determine from HTML Living Standard, passim, esp. section 12.1.2.3, if an attribute value may include a straight double quotation mark (surrounding the value not the same as being included in it). A URL may not do so, according to the URL Living Standard, section 4.3. If the HTML Living Standard allows the mark in an attribute value and the attribute value is a URL, that's a conflict. If I'm right about that conflict existing, I can submit a new issue for that conflict.

As to the straight double quote mark, the edit I proposed above probably won't be adequate, however. A URL in the href value may have been percent-encoded for other reasons and, if those are the only reasons, should not be percent-decoded when delivered to a browser address bar. However, the two kinds of quotation marks if not percent-encoded need to be treated so that when the URL is delivered in accordance with the element containing the href attribute the URL contains the raw characters even if illegal, because the tolerance for the illegality should be tested in the address bar when the URL is executed and not before. That leaves the question of what that treatment should be.

What won't work would be percent-decoding only the percent-code/s for the illegal character/s, because at what stage the URL acquired the particular percent-code/s would need to be determined before either percent-decoding or not, and that information (generally) would not be available.

What might help would be to not surround the value in quotation marks, since the URL must be spaceless, but that would require the author, if normally quoting values, to not to this time because realizing that the URL has a quotation mark inside it, and often it will easily be missed.

An HTML validator can be updated to find the problem in some but not all cases, and probably most of us don't use a validator for every URL or for HTML content containing a URL. The validator could not find the problem if the URL begins and ends with quote marks, which could happen if the URL is to be interpreted as preceded by the value in a base element but could also happen if the value is quoted, thus being a case a validator cannot determine. It also could not find the problem if there is nothing between the end of the URL and the end of the tag, because it would be impossible to know if the solidus (or virgule or slash) is part of the URL or part of the tag.

Otherwise, the validator could find the problem when it finds a string outside of a quote mark, viz., between the possibly-spaced equals sign and the first spaceless quotation mark or between the last spaceless quotation mark and a space or the end of the start tag. It could report the cause of the failure as an unaccounted-for string that might be part of the URL of which another part is nearby, so the author can determine which it might be.

Apart from surrounding the value being helpful for working with HTML, it is not a complete solution. This would still need a new attribute in the element with the href attribute. The attribute is needed to instruct on how to parse. However, a true/false attribute value would not be adequate, since that couldn't help with parsing a URL that might have some otherwise-offending characters already percent-encoded and others not.

A somewhat clumsy possibility, clumsy for authors but not clumsy for processing, would be to have the new attribute have as its value the same URL but percent-encoded for this purpose while the URL in the href attribute would not be (it could be percent-encoded for other purposes but not this purpose), so that parsing the element would mean comparing the two URLs to determine which percent-codes to percent-decode before delivering the URL to the user agent for fetching.

> I couldn't determine from HTML Living Standard, passim, esp. section 12.1.2.3, if an attribute value may include a straight double quotation mark (surrounding the value not the same as being included in it). A URL may not do so, according to the URL Living Standard, section 4.3. If the HTML Living Standard allows the mark in an attribute value and the attribute value is a URL, that's a conflict. If I'm right about that conflict existing, I can submit a new issue for that conflict.

You need to look at the spec for the specific attribute you are wondering about. For example, many attributes in HTML, like `<img>`'s `src=""` say that their value must be a valid URL potentially surrounded by spaces. So you cannot include a double quote mark in those. Others, like the `title=""` attribute, have no such restriction.