Cookie API

### What problem are you trying to solve?

## 1. Manipulating with cookies

Historically, manipulating cookies in JavaScript has been tedious. Client-side cookies are represented in a single `document.cookie` string (requiring parsing), and server-side cookies have no standard representation, to begin with. 

As a JavaScript developer, I want a standard and straightforward API to 1) create, and 2) manipulate cookies in JavaScript. 

## 2. Declaring server-side cookies

Modern JavaScript development is in the transition to a complete client/server collocation. This means more and more developers will get familiarized with and be working with things like cookies on a daily basis. Having a standard API to manage cookies would be beneficial to those developers and reduce the dependency cost when working with cookies.

## 3. Declaring cookies in mocks

I'm coming from the API mocking environment, where working with client-side and server-side cookies is natural. I want the users of my software to have the ability to work with cookies in a standardized way, given that 1) the cookie specification is clear; 2) the existing third-party solutions have already cultivated the expectations toward working with cookies. 

## 4. Representational problem

At its core, representing and working with cookies as _strings_ is inefficient. That feels like the implementation detail of the platform, if I may. As a developer, I want a concise and functional abstraction that would help me create and manipulate cookies while I develop JavaScript applications. 

### What solutions exist today?

The demand for cookie string manipulation has been historically high. This spawned a number of third-party packages ([one](https://www.npmjs.com/package/cookie), [two](https://www.npmjs.com/package/set-cookie-parser), [three](https://www.npmjs.com/package/cookie-parser)) with dozens of millions of downloads in total. Natively, JavaScript provides no solution to working with cookies, which is precisely what this proposal aims to solve.

### How would you solve it?

By introducing a new `Cookie` API. 

## API


```ts
class Cookies {
  public name: string
  public value: string
  public domain: string
  public maxAge: number
  public expires: Date
  public secure: boolean
  public httpOnly: boolean

  // Parse a cookie string into Cookie instances.
  static from(input: string): Cookie | Cookie[] {}

  // Create a new cookie instance.
  constructor(name: string, value: string, options?: CookieOptions) {}

  public isExpired(): boolean

  // Serialize this Cookie instance to a valid cookie string.
  public toString(): string
}
```

## Usage example

### Simple example

```js
const cookie = new Cookie('session', 'value', { expires: new Date('2024-01-01') })
cookie.name // "session"
cookie.value // "value"
cookie.isExpired() // false

cookie.toString() // "session=value; Expires=Mon, 01 Jan 2024 00:00:00 GMT"
```

### Server-side cookie

The proposed `Cookie` API can also be used to declare cookies in server-side environments,  such as in modern JavaScript frameworks like Remix and Next (which ship their own abstractions to achieve that), or in API mocking tools like MSW.

```js
http.post('/login', ({ request }) => {
  const sessionCookie = new Cookie('session', 'secret', options)
  return new Response(null, {
    status: 301,
    headers: {
      'Set-Cookie': sessionCookie.toString(),
      Location: '/dashboard',
    }
  })
})
```

### Client-side cookies

In the browser, all cookies are stored in a single `document.cookie` string. Given the multi-value nature of that string, using the proposed `Cookie` API to manipulate `document.cookie` is not efficient in the current state of the proposal. I believe this particular use case either requires a new API or can utilize the existing experimental `CookieStore` API (if the said API is intended to be used that way, of course). 

### Anything else?

Upon a brief discussion of this proposal on [Twitter](https://twitter.com/kettanaito/status/1724830073566429211), some developers voiced concerns about the [`CookieStore` API](https://developer.mozilla.org/en-US/docs/Web/API/CookieStore). I'd like to emphasize that the `CookieStore` API addresses an entirely different problem and does not substitute the `Cookie` API I'm proposing here. Moreover, one can _combine_ both APIs for handling cookies. 

```js
const store = new CookieStore()
const sessionCookie = new Cookie('session', 'value')

store.set(sessionCookie)
```

> Granted, that requires changes to the experimental `CookieStore` API so I'm listing this here purely for illustrational purposes. 

`CookieStore` methods are _asynchronous_, which is the direct reflection of a different problem that API attempts to solve. The proposed `Cookie` API is meant to be _synchronous_ as it aims to ease the experience of _cookie string manipulation_. 

Hi, @wesleytodd. I believe you mentioned that some folks from the Node.js core may be interested in discussing this. Could you please refer to them in this thread? Thanks. 

I like the idea of finally providing a standard for this.
I guess there are at least two more properties a Cookie object should have:
- `path: string`
- `sameSite: 'Strict' | 'Lax' | 'None' | undefined`


I believe when handling a cookie string, it will often contain multiple cookies. With that in mind, perhaps it's best that the `Cookie.from()` static method always returns a `Map<string, Cookie>`.

```js
const cookies = Cookie.from(document.cookie)
const session = cookies.get('session') // Cookie | null
```

This has usage implications, such as having to know the cookie _name_ in order to access it. In the context of working with `document.cookie`, that seems like a reasonable expectation to have. That also seems to be a reasonable expectation when handling request cookies, which also potentially contain multiple cookies, like `Cookie.from(request.headers.get('Cookie'))`. 

I am also interested in implementing this if that's what the "needs implementer interest" label implies. 

Hi, @keithamus. Could you please guide me regarding the next steps with this proposal? I will try to share it more to gather feedback. I'm open to contributing to this, both specification- and implementation-wise. Thanks. 

`sameSite` values should be lowercase (`lax` instead `Lax` etc) to be [consistent with the `CookieStore` API](https://wicg.github.io/cookie-store/#cookiestore).

@kettanaito I think `from`  should be a static function that returns an iterable (map or array tbd). What about cookie signing 👀

@kettanaito I think from should be a static function that returns an iterable (map or array tbd). What about cookie signing? Usually its hashed with HMAC and encoded base64 but Im not 100% it has been standardized

This is such an obvious omission from the platform, the 3 different 3rd party packages speak for themselves.  

Regarding `secure`, `httpOnly` and `partitioned`, if they are not set at creation time, doesn't that mean they get implicitly set as `false`? Does the `undefined` value make sense?

@marco-ippolito, I like your idea to make `Cookie.from()` return an Iterable. This can simplify working with multiple cookies. But at the same time, if we tackle the simplest scenario of the cookie string representing a single cookie, returning an Iterable and having to iterate over it to grab a single value looks like a design flaw. I'd like to think on this a bit more. We should have a way to cover the following scenarios:

- A cookie string with 1 cookie -> a `Cookie` instance;
- A cookie string with N cookies -> an `Iterator<Cookie>` for each cookie described in the string. 

Not sure what I think about making the `Cookie.from()` method too smart to handle both of those use cases for the developer. 

> Also what's the behavior of isExpired if expired is not set explicitly?

I believe newly created cookies that do not have the `expired` property set explicitly must not be marked as expired. I'd like them to have a sensible default here. I'm sure there must be something in the spec regarding the cookie expiration. If I send a cookie without an explicit expiration date from a server, what date will the browser treat as its expiration date? 

> Regarding secure, httpOnly and partitioned, if they are not set at creation time, doesn't that mean they get implicitly set as false? Does the undefined value make sense?

@mkarajohn, a great question. I think it's an oversight on my part. `secure`, `httpOnly`, and `partitioned` properties must be booleans, never `undefined`. Regarding their default values, I propose the following:

- `partitioned` is `false` unless explicitly provided;
- `httpOnly` is `true` unless explicitly provided (sensible default for security considerations).
- `secure` is `true` unless explicitly provided (again, sensible security default).


> @marco-ippolito, I like your idea to make `Cookie.from()` return an Iterable. This can simplify working with multiple cookies. But at the same time, if we tackle the simplest scenario of the cookie string representing a single cookie, returning an Iterable and having to iterate over it to grab a single value looks like a design flaw. I'd like to think on this a bit more. We should have a way to cover the following scenarios:
> 
> * A cookie string with 1 cookie -> a `Cookie` instance;
> * A cookie string with N cookies -> an `Iterator<Cookie>` for each cookie described in the string.
> 
> Not sure what I think about making the `Cookie.from()` method too smart to handle both of those use cases for the developer.

Hm, I think giving the `.from()` method a dual signature would make it more "difficult" to work with. Consider that you don't always know if a string will contain 1 or many cookies (there are no guarantees that you will always know, as the programmer, the amount of cookies that a cookie string contains).

So giving `.from()` a single signature where it always returns `Iterator<Cookie>` I think will be more convenient, since you don't have to runtime check if the return value is a `Cookie` instance or an iterable, in order to be able to handle it accordingly.

> Hm, I think giving the .from() method a dual signature would make it more "difficult" to work with.

I completely agree. 

> So giving .from() a single signature where it always returns Iterator<Cookie> I think will be more convenient, since you don't have to runtime check if the return value is a Cookie instance or an iterable, in order to be able to handle it accordingly.

My concern is that returning an iterator makes the most basic use case more (1 cookie described in the cookie string) verbose than it should be. If we return a `Set`, reading the cookie values would be something like this:

```js
const [secretCookie] = Cookie.from('secret=abc-123') // Set<Cookie>
secretCookie.value // "abc-123"
```

Given you often know what cookie you wish to read, using the cookie `name` as the key may be beneficial to skip iterating over the set to find the cookie you want in a multi-cookie scenario. In those cases, returning a `Map` seems like a better choice:

```js
const cookies = Cookie.from('secret=abc-123') // Map<string, Cookie>
cookies.get('secret').value // "abc-123"
```

But now working with a single cookie becomes rather complex. Even if we spread the returned map, it's still quite verbose:

```js
const [[_, secretCookie]] = Cookie.from('secret=abc-123') // Map<string, Cookie>
```

If I had to choose between these, I'd choose to return `Map` still. It can be converted to a list of values, and it also provides key-based access when one needs it. Perhaps the reasoning here can be that the input to `Cookie.from()` is often either `document.cookie` or `request.headers.get('cookie')` (speaking of server-side usage), which makes the nature of the cookie string unpredictable. 

I also believe that discussing `Cookie.from()` can be more productive if we also take into account the opposite method to that, something like `Cookie.serialize(cookies)`. I haven't added it to the proposed class yet but I think it must be there. 

## `Cookie.serialize(cookieOrCookies)`

Opposite to `Cookie.from()`, the `Cookie.serialize()` static method accepts a single/list of the `Cookie` instances and returns a _cookie string_. 

```js
Cookie.serialize([
  new Cookie({ name: 'secret', value: 'abc-123' }),
  new Cookie({ name: 'foo', value: 'bar' })
])
// "secret=abc-123; foo=bar"
```

In conjunction with `Cookie.from()`, it can be used like this:

```js
const cookies = Cookie.from(document.cookie)
// ...operations.
document.cookie = Cookie.serialize(cookies.values())
```

> Albeit, this reads a bit odd since `.values()` in this cases returns the list of `Cookie` instances but reads like the "cookie values", as in ["abc-123", "bar"].

I think `from` and `serialize` should use spread notation as argoument.
On second thought returning a `Map` feels the best option.
```javascript
Cookie.serialize(...[
  new Cookie({ name: 'secret', value: 'abc-123' }),
  new Cookie({ name: 'foo', value: 'bar' })
])

Cookie.serialize(new Cookie({ name: 'foo', value: 'bar' }))

// real life case
const response = await fetch('foo');
const cookies = Cookie.serialize(...response.headers.getSetCookie())
const foo = cookies.get('foo').value;

```


@marco-ippolito, one thing to consider is that spreading things in JavaScript isn't cheap on large data sets. But cookies is an unlikely candidate for such a data set. I like the `Cookie.from(...cookies)` call signature. 

What do you think about the default value of the `expires` property? 

I believe that it must be set to some sensible default if not explicitly provided. It makes no sense to create expired cookies by default. I wonder if you have any experience with the default cookie expiration that would make sense as a good default here. 1h? 

I'd like to see what the spec says about cookies without an explicit expiration date. Are those considered expired or not? Are those treated as never to expire? 

Based on the [RFC 6265](https://datatracker.ietf.org/doc/html/rfc6265#section-5.2.1), I can point out a few things:

1. Both `Max-Age` and `Expires` attributes are _optional_. 
2. The [Storage model](https://datatracker.ietf.org/doc/html/rfc6265#section-5.3) describes the agent behavior in regards to the `Max-Age` and `Expires` attributes. If none are set, the agent does the following:

> Set the cookie's persistent-flag to false.
> Set the cookie's expiry-time to the latest representable date.

Based on the `document.cookie` [behavior](https://developer.mozilla.org/en-US/docs/Web/API/Document/cookie):

> If neither expires nor max-age is specified, it will expire at the end of session.

This leads me to believe that we don't have to design any implicit mechanisms to handle the missing `Max-Age` and `Expires` attributes in the proposed Cookie API. The agents already know and handle that use case. Relying on that handling would be beneficial to preserve already established and familiar behaviors. 

@mcollina also proposed using a plain Object as a return value of the `Cookie.parse()` method. That would look like this:

```js
const cookies = Cookie.parse('a=b; c=d')

// Get a cookie by name.
cookies.a // Cookie {}

// Get the list of all cookies.
Object.values(cookies)

// Serialize all the cookies.
Cookie.serialize(...Object.values(cookies))
```

I think also adding the ability to delete a cookie based on its key is needed

also, how the edit the value within the key does it delete then create, or modify the existing cookie with the same values

```js
const session = cookies.get('session') // Cookie{} | null

session.name = 'session-modified'
// and all remains same 
```

and deleting by name 

```js
cookies.delete('session') // boolean
// false if there's no cookie existed, otherwise is true
```

@Mahmoudgalalz, 

> I think also adding the ability to delete a cookie based on its key is needed

You can achieve this using both `Map` and a plain object.

```js
// Using Map:
cookies.delete(cookieName)

// Using plain object:
delete cookies[cookieName]
```

> also, how edit the value within the key does it delete then create, or modify the existing cookie with the same values

If you modify any property on the `Cookie` instance, that modification will be reflected on that cookie once you serialize it to a string.

```js
// Simple example
const cookie = new Cookie('session', 'abc-123')
cookie.name = 'newSession'
cookie.toString() // "newSession=abc-123"

// Example with "Cookie.parse()"
const cookies = Cookie.parse(cookieString)
const sessionCookie = cookies.session
sessionCookie.name = 'newSession'
Cookie.serialize(...Object.values(cookies))
// "newSession=abc-123"
```


There seem to be multiple standards how cookies are represented as strings.

First, there is the "Set-Cookie" header sent by the server to the client. RFC 6265 defines that its value contains only one name-value pair. Multiple headers should be sent to transmit multiple cookies. There are also RFC 2965 (seems to be outdated) and RFC 2109 (legacy but allows multiple name-value pairs, separated by comma). It seems most modern browsers seem to accept comma separation of multiple name-value pairs. The name-value pairs is separated from the attributes by a semicolon.

Second, there is the `Cookie` header sent by the client to the server. It just contains the name-value pairs, each separated by a semicolon.

My suggestion is to make it clear which standard is used when serializing/deserializing cookies to/from strings.

There should be at least 4 functions:
1. serializing a list of cookies to a string containing the name-value pairs, as sent by the client to the server (in the `Cookie` header) - this representation does not contain the attributes like Domain, Path etc.
2. deserializing name-value pairs from such a string (from the `Cookie` header)
3. serializing a single cookie to a string with attributes, as sent by server to the client (in the `Set-Cookie` header)
4. deserializing a single (or multiple, if legacy parsing is supported) cookie from such a string with attributes (from the `Set-Cookie` header)

There is another question: In browsers, should `Cooke.parse` return whatever the browser currently does by default or should it adhere to some specified standard (which might be slightly different from what the browser does)?

Perhaps serializing/deserializing strategies should be decoupled from the object representation.

Yet another note: the pure syntax allows including multiple key-value pairs with the same name in a cookie string (in a legacy comma-separated Set-Cookie value or a semicolon separated Cookie value). Should the parsing algorithm follow some standard to remove those duplicates? If this should not be decided by the parser, it should return a lossless list instead of a map/object indexed by the cookie names.

A quick digression regarding the `Expires`, I think it would be good to align the behavior with the experimental `CookieStore.set()` API ([ref](https://developer.mozilla.org/en-US/docs/Web/API/CookieStore/set#expires)). Consistency is the key. 