"/^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9]..."

https://html.spec.whatwg.org/#e-mail-state-(type=email)

> /^\[a\-zA\-Z0\-9\.\!\#$%&amp;'\*\+\\/=​?^\_\`\{\|\}\~\-\]\+@​\[a\-zA\-Z0\-9\]\(?:​\[a\-zA\-Z0\-9\-\]\{0,61\}\[a\-zA\-Z0\-9\]\)?\(?:​\\\.\[a\-zA\-Z0\-9\]\(?:​\[a\-zA\-Z0\-9\-\]\{0,61\}\[a\-zA\-Z0\-9\]\)?\)\*$/

Should this use {0,63} instead of {0,61}? given that https://html.spec.whatwg.org/#valid-e-mail-address says:
label         = let-dig [ [ ldh-str ] let-dig ]  ; limited to a length of 63 characters by RFC 1034 section 3.5

@domenic ?

Oh never mind, 61 + start let-dig + end let-dig ends up being 63.