Content-Type on multipart/form-data part without setting filename

### What problem are you trying to solve?

According to section 4.4 of [RFC 7578](https://datatracker.ietf.org/doc/html/rfc7578#section-4.4), it is entirely correct to send a `Content-Type` header on any part, not only on parts representing files. However, neither `<input>` attributes nor `FormData` methods provide such option; a part is either (implicitly) `text/plain`, or it will have a filename.

A capable server could use the 'Content-Type' part header to interpret the field content slightly differently, using the same endpoint and the same multipart handler code (e.g., a part with the name `message` is still a message, regardless of how it was encoded).

Here are some use cases:
 - Content reporting route:
   - `{ 'description': '<problem description>', 'page': '<page id>', 'debug-info': { … } }` with `Content-Type: application/json` from web app
   - The same structure, but XML/CBOR/Protobuf/etc. encoded with appropriate Content-Type from native app
   - `<problem description>` with `text/plain` from lightweight JS-less version that can't fill in other fields
 - Rich text support:
   - `text/markdown` (or any other structured format, like `text/html`) from web-based editor
   - `text/plain` (or simply no Content-Type) in case when such editor could not be loaded; set to avoid misinterpretations and unnecessary parsing
 - Examples above, but in a form that also contains a file part
 - (obscure one) `text/plain;charset: …`  would allow sending fewer bytes for some languages

### What solutions exist today?

From the client side (if server modification is not possible), there is only one option: manually construct the request body, which is error-prone — or delegate this task to an existing, well-tested library.

From the server side:
 - Use different routes or field names for different content types
   - Easy to implement
   - Requires different multipart fields (or routes) on different clients
   - Looks unnatural
 - Guess content type from content
   - Guessing isn't always possible
 - Ignore filename field
   - Some frameworks handle 'files' and 'non-files' differently, based on this field

### How would you solve it?

### For HTML `<input>`

Introduce a new attribute `mime` (or `content-type`, or even `enctype`), which would set the `Content-Type` header of the corresponding part when present (if `enctype` of corresponding `<form>` is `multipart/form-data`, of course). Since no such attribute currently exists (at least, for `<input>`), this change would not break existing code.

### For JS `FormData`

Possible changes that shouldn't break any existing JS code:
 - `.append(name, string, type)`
   - Easy to read
   - Only supports text data
   - Confusing: `.append(name, file|blob, filename)` already exists
 - `.append(name, string|file|blob, { noFilename: true })`
   - Explicitly indicates that the `filename` field should be omitted
   - As above, this overlaps with the existing 3-argument `append`
 - `isNotFile` boolean field in the second argument of `Blob(blobParts, options)`
   - Not a change to `FormData` directly, but to `Blob`

### Anything else?

_No response_

There's two issues with this:

1. We still lack a good definition of how `multipart/form-data` works in practice: https://github.com/whatwg/html/issues/6424.
2. We cannot start sending requests that are rather different from how forms have always worked across the origin boundary without some kind of server-side opt-in, such as a CORS preflight. (Some people are pushing a solution for this for more HTTP methods, but I don't think it has been thoroughly vetted just yet.)

I've examined some other server frameworks, and as far I can tell

- Spring
  - Won't break when `Content-Type` is present on non-file part, but usually part headers aren't accessible
  - `Content-Type` header is accessible via [Part#headers()](https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/http/codec/multipart/Part.html#headers()) when receiving as `@RequestPart Flux<Part> aPart`, as any other header
- http4s / http4k / Ktor
  - `Content-Type` is accessible via `headers` or `contentType` methods/properties on any parts
  - Discrimination between 'file' or 'non-file' is based on `; filename="…"` presence
- Django
  - `MultiPartParser` exists, however it has to be set manually as parser, and one can provide a different (self-written or third-party) parser
    - File / non-file decision is based on `; filename="…"`
    - All headers are parsed by `Parser` in `http/multipartparser.py`, but not all of them are handled by `MultiPartParser`
    - `MultiPartParser` handles `Content-Disposition` (of course) and `Content-Transfer-Encoding` (when set to `base64`) for all parts, plus `Content-Length` and `Content-Type` for files, dropping any other headers
- Servant
  - Only `Content-Type` header on files supported, other headers aren't accessible via `Servant.Multipart` API
- PHP (default parser / request_parse_body)
  - No support for headers at all, all 'files' are _saved_ and can be found via `$_FILES`, other fields are just strings in `$_POST`; even uploading many files with the same `name` in disposition is tricky

So, there are server frameworks which can use `Content-Type` value without `; filename`, and there are others which cannot even access individual part headers at all. Behavior of latter _almost_ conforms to the Section 4.8 with one exception: `Content-Type` header is explicitly permitted, but ignored.

Therefore, I argue that multipart parsers — including browsers — should not treat parts with a `Content-Type` but no `filename` as "files". Instead, such parts should be treated as structured content and mapped based on their `Content-Type`, defaulting to `text/plain` when omitted.

While current browser behavior only sets `Content-Type` on `Blobs` or `Files` (and always includes filename), this design discourages semantic use of MIME types for non-file parts. Allowing a way to set `Content-Type` without triggering filename would align with many server frameworks, which already support this pattern.